@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root{
    background-color: white;
}
input{
   
    background-color: white !important;
}
input[type="radio"]{
    
    background-color: white !important;
}
select{
    padding:5px;
    font-weight: bold;
    background-color:grey;
    color:white
}
.modal-box{
    color: black;
  background-color:  white;
}
label{
    color:black
}
